body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:111px;
  top:50px;
  width:270px;
  height:440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:116px;
  top:80px;
  width:40px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:116px;
  top:154px;
  width:260px;
  height:30px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:211px;
  top:80px;
  width:60px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:111px;
  top:104px;
  width:270px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u9 {
  position:absolute;
  left:166px;
  top:354px;
  width:160px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:116px;
  top:124px;
  width:260px;
  height:30px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:116px;
  top:184px;
  width:260px;
  height:30px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:116px;
  top:214px;
  width:260px;
  height:130px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:130px;
}
#u16 {
  position:absolute;
  left:2px;
  top:57px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:120px;
  top:224px;
  width:100px;
  height:110px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:110px;
}
#u18 {
  position:absolute;
  left:2px;
  top:47px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:220px;
  top:224px;
  width:150px;
  height:80px;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:220px;
  top:304px;
  width:150px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:121px;
  top:410px;
  width:250px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:121px;
  top:430px;
  width:250px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:121px;
  top:460px;
  width:250px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:400px;
  top:430px;
  width:140px;
  height:30px;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:400px;
  top:304px;
  width:160px;
  height:30px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
