body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:154px;
  top:50px;
  width:270px;
  height:410px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:197px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:79px;
  width:30px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:169px;
  top:120px;
  width:240px;
  height:290px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:290px;
}
#u5 {
  position:absolute;
  left:2px;
  top:137px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:370px;
  top:79px;
  width:30px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:270px;
  top:79px;
  width:60px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:154px;
  top:100px;
  width:270px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
