body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:91px;
  top:60px;
  width:270px;
  height:410px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:197px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:96px;
  top:90px;
  width:40px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:191px;
  top:90px;
  width:60px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:91px;
  top:114px;
  width:270px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u7 {
  position:absolute;
  left:296px;
  top:90px;
  width:50px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:96px;
  top:140px;
  width:260px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:90px;
  top:320px;
  width:270px;
  height:150px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:150px;
}
#u12 {
  position:absolute;
  left:2px;
  top:67px;
  width:266px;
  word-wrap:break-word;
}
