body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:154px;
  top:50px;
  width:270px;
  height:410px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:197px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:158px;
  top:110px;
  width:262px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:170px;
  top:420px;
  width:40px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:220px;
  top:420px;
  width:40px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:370px;
  top:421px;
  width:40px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-1px;
  width:36px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:272px;
  top:420px;
  width:35px;
  height:31px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:320px;
  top:421px;
  width:40px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:276px;
  top:420px;
  width:27px;
  height:31px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:160px;
  top:140px;
  width:260px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:32px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:160px;
  top:220px;
  width:260px;
  height:90px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
}
#u19 {
  position:absolute;
  left:2px;
  top:37px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:160px;
  top:310px;
  width:260px;
  height:90px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
}
#u21 {
  position:absolute;
  left:2px;
  top:37px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:340px;
  top:70px;
  width:80px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:280px;
  top:70px;
  width:40px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:170px;
  top:150px;
  width:60px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:240px;
  top:140px;
  width:180px;
  height:80px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
}
#u29 {
  position:absolute;
  left:2px;
  top:32px;
  width:176px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:240px;
  top:140px;
  width:180px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:176px;
  word-wrap:break-word;
}
