body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:154px;
  top:50px;
  width:270px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:80px;
  width:30px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:260px;
  top:80px;
  width:60px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:154px;
  top:110px;
  width:266px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:249px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:266px;
  height:1px;
}
#u7 {
  position:absolute;
  left:165px;
  top:320px;
  width:250px;
  height:30px;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:235px;
  top:130px;
  width:180px;
  height:30px;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:165px;
  top:290px;
  width:250px;
  height:30px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:165px;
  top:130px;
  width:70px;
  height:60px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:235px;
  top:160px;
  width:180px;
  height:30px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:165px;
  top:260px;
  width:250px;
  height:30px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:165px;
  top:350px;
  width:250px;
  height:30px;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:165px;
  top:380px;
  width:250px;
  height:30px;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:165px;
  top:410px;
  width:250px;
  height:30px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:165px;
  top:440px;
  width:250px;
  height:30px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:165px;
  top:190px;
  width:250px;
  height:30px;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:165px;
  top:220px;
  width:250px;
  height:30px;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:165px;
  top:490px;
  width:250px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
