body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:638px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:154px;
  top:50px;
  width:270px;
  height:410px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:197px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:80px;
  width:30px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:260px;
  top:80px;
  width:60px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:169px;
  top:150px;
  width:240px;
  height:300px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:300px;
}
#u7 {
  position:absolute;
  left:2px;
  top:142px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:173px;
  top:150px;
  width:230px;
  height:35px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:173px;
  top:185px;
  width:230px;
  height:35px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:157px;
  top:120px;
  width:262px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:460px;
  top:235px;
  width:178px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:174px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:173px;
  top:220px;
  width:230px;
  height:35px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:173px;
  top:255px;
  width:230px;
  height:35px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:173px;
  top:290px;
  width:230px;
  height:35px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
