body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:60px;
  width:270px;
  height:410px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:197px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:146px;
  top:90px;
  width:30px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:236px;
  top:90px;
  width:74px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:146px;
  top:140px;
  width:240px;
  height:300px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:300px;
}
#u7 {
  position:absolute;
  left:2px;
  top:142px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:150px;
  top:200px;
  width:230px;
  height:35px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:130px;
  top:120px;
  width:266px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:249px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:266px;
  height:1px;
}
#u11 {
  position:absolute;
  left:150px;
  top:155px;
  width:230px;
  height:35px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:150px;
  top:235px;
  width:230px;
  height:35px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:150px;
  top:270px;
  width:230px;
  height:35px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:150px;
  top:305px;
  width:230px;
  height:35px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:35px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
