body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:154px;
  top:50px;
  width:270px;
  height:410px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:197px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:420px;
  width:40px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:220px;
  top:420px;
  width:40px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:370px;
  top:421px;
  width:40px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-1px;
  width:36px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:90px;
  width:240px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:170px;
  top:120px;
  width:240px;
  height:280px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:280px;
}
#u11 {
  position:absolute;
  left:2px;
  top:132px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:270px;
  top:64px;
  width:30px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:320px;
  top:421px;
  width:40px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:385px;
  top:64px;
  width:25px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:170px;
  top:58px;
  width:30px;
  height:29px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:170px;
  top:58px;
  width:30px;
  height:29px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:278px;
  top:360px;
  width:25px;
  height:25px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:200px;
  top:160px;
  width:40px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:275px;
  top:419px;
  width:35px;
  height:31px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:270px;
  top:160px;
  width:40px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:348px;
  top:160px;
  width:40px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:279px;
  top:419px;
  width:27px;
  height:31px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
