body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:154px;
  top:50px;
  width:270px;
  height:410px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:197px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:420px;
  width:40px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:220px;
  top:420px;
  width:40px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:370px;
  top:421px;
  width:40px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-1px;
  width:36px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:272px;
  top:420px;
  width:35px;
  height:31px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:320px;
  top:421px;
  width:40px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:276px;
  top:420px;
  width:27px;
  height:31px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:160px;
  top:140px;
  width:260px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:160px;
  top:220px;
  width:260px;
  height:90px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
}
#u17 {
  position:absolute;
  left:2px;
  top:37px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:160px;
  top:310px;
  width:260px;
  height:90px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
}
#u19 {
  position:absolute;
  left:2px;
  top:37px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:160px;
  top:160px;
  width:66px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:226px;
  top:160px;
  width:194px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:226px;
  top:175px;
  width:194px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:177px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:194px;
  height:1px;
}
#u25 {
  position:absolute;
  left:226px;
  top:159px;
  width:70px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:170px;
  top:144px;
  width:220px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:226px;
  top:185px;
  width:70px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:226px;
  top:195px;
  width:194px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:177px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:194px;
  height:1px;
}
#u32 {
  position:absolute;
  left:226px;
  top:204px;
  width:70px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:334px;
  top:80px;
  width:90px;
  height:29px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:266px;
  top:70px;
  width:30px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:330px;
  top:204px;
  width:80px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:158px;
  top:110px;
  width:262px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  word-wrap:break-word;
}
