body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:154px;
  top:70px;
  width:270px;
  height:430px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:430px;
}
#u1 {
  position:absolute;
  left:2px;
  top:207px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:160px;
  width:240px;
  height:190px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:190px;
}
#u3 {
  position:absolute;
  left:2px;
  top:87px;
  width:236px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:270px;
  top:104px;
  width:55px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:170px;
  top:110px;
  width:30px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:370px;
  width:240px;
  height:40px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:170px;
  top:430px;
  width:240px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  word-wrap:break-word;
}
