body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:154px;
  top:50px;
  width:270px;
  height:410px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:410px;
}
#u1 {
  position:absolute;
  left:2px;
  top:197px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:160px;
  top:110px;
  width:130px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:290px;
  top:110px;
  width:130px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:160px;
  top:140px;
  width:260px;
  height:80px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:220px;
  width:260px;
  height:90px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:37px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:160px;
  top:310px;
  width:260px;
  height:90px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
}
#u11 {
  position:absolute;
  left:2px;
  top:37px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:160px;
  top:160px;
  width:66px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:226px;
  top:160px;
  width:194px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:226px;
  top:175px;
  width:194px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:177px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:194px;
  height:1px;
}
#u17 {
  position:absolute;
  left:226px;
  top:159px;
  width:70px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:170px;
  top:144px;
  width:220px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:226px;
  top:185px;
  width:70px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:226px;
  top:195px;
  width:194px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:177px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:194px;
  height:1px;
}
#u24 {
  position:absolute;
  left:226px;
  top:204px;
  width:70px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:266px;
  top:70px;
  width:54px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:330px;
  top:204px;
  width:80px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:170px;
  top:70px;
  width:30px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:154px;
  top:96px;
  width:270px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
